:root {
  --highlight-color: #8d601e;
  --primary-color: #0e100f;
  --secondary-color: #eee7dd;
  --default-heading-font: "Roboto", serif;
  --default-body-font: "Lora", serif;
}

h1 {
  color: white;
  text-align: center;
  font-family: var(--default-heading-font);
  font-size: 96px;
  font-weight: bold;
}

h3 {
  color: white;
  font-family: var(--default-body-font);
}
.navbar {
  font-family: var(--default-body-font);
  background-color: var(--primary-color);
}
.navbar-brand {
  margin-top: 10px;
  margin-left: 20px;
}

.nav-item {
  margin: 10px;
}

.index-col {
  padding: 0px;
}

.index-h3-col {
  background-color: var(--primary-color);
}
.index-h3s {
  padding-top: 165px;
}
.index-image-col {
  height: 125vh;
  background-image: url(images/index-image.jpg);
  background-size: cover;
  background-position: center;
}
.hero .index-h3s h3 {
  text-align: center;
  padding-top: 30px;
}

.forename-h1 {
  text-align: right;
  padding-top: 532px;
  padding-bottom: 90px;
  padding-right: 20px;
}

.surname-h1 {
  text-align: left;
  padding-top: 105px;
  padding-bottom: 90px;
  padding-left: 20px;
}

#navbarSupportedContent {
  position: absolute;
  right: 20px;
}
.index-contact {
  color: white;
  font-size: 18px;
  padding-top: 80px;
  padding-bottom: 85px;
  background-color: var(--primary-color);
}
.index-call {
  text-align: right;
  padding-right: 10px;
}
